In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
file = 'covid_data.csv'
df = pd.read_csv(file, encoding="ISO-8859-1")

In [3]:
df
del df['Province/State']
del df['Last Update']
del df['SNo']

In [4]:
# mexico_data = df.loc[df['Country/Region'] == 'Mexico',:]
# mexico_data
date = df['ObservationDate'].str.split(pat="/", expand = True)
# df['Day'] = date[1]
df['Month'] = date[0]
df['Year'] = date[2]
df

,ObservationDate,Country/Region,Confirmed,Deaths,Recovered,Month,Year
0,01/22/2020,Mainland China,1,0,0,01,2020
1,01/22/2020,Mainland China,14,0,0,01,2020
2,01/22/2020,Mainland China,6,0,0,01,2020
3,01/22/2020,Mainland China,1,0,0,01,2020
4,01/22/2020,Mainland China,0,0,0,01,2020
...,...,...,...,...,...,...,...
205946,01/19/2021,Ukraine,62492,738,39168,01,2021
205947,01/19/2021,Netherlands,13031,149,0,01,2021
205948,01/19/2021,Mainland China,1316,1,1298,01,2021
205949,01/19/2021,Ukraine,42758,707,37834,01,2021
205950,01/19/2021,Netherlands,224398,3153,0,01,2021

In [5]:
m = (df['Country/Region'] == 'Mexico') | (df['Country/Region'] == 'US') | (df['Country/Region'] == 'Canada')
clean_df = df.loc[m,:]
clean_df

,ObservationDate,Country/Region,Confirmed,Deaths,Recovered,Month,Year
31,01/22/2020,US,1,0,0,01,2020
69,01/23/2020,US,1,0,0,01,2020
81,01/23/2020,Mexico,0,0,0,01,2020
117,01/24/2020,US,1,0,0,01,2020
118,01/24/2020,US,1,0,0,01,2020
...,...,...,...,...,...,...,...
205932,01/19/2021,US,571268,5973,0,01,2021
205933,01/19/2021,US,49922,550,0,01,2021
205940,01/19/2021,Mexico,28558,2566,0,01,2021
205941,01/19/2021,Canada,70,1,69,01,2021
205944,01/19/2021,Mexico,23422,1949,0,01,2021

In [6]:
clean_df2 = clean_df.drop(['ObservationDate'],axis=1)
clean_df3 = clean_df2.groupby(['Country/Region','Month'])
clean_df3.head()

       Country/Region  Confirmed  Deaths  Recovered Month  Year
31                 US          1       0          0    01  2020
69                 US          1       0          0    01  2020
81             Mexico          0       0          0    01  2020
117                US          1       0          0    01  2020
118                US          1       0          0    01  2020
...               ...        ...     ...        ...   ...   ...
168398         Canada      17107     328       7713    12  2020
191667         Mexico      17021    1371          0    01  2021
191713         Mexico      34889    5559          0    01  2021
191714         Mexico      17820     784          0    01  2021
191744         Mexico       7273     972          0    01  2021

[177 rows x 6 columns]

In [26]:
mx_covid_df = clean_df.loc[(clean_df['Country/Region']=='Mexico'),:].reset_index(drop=True)
mx_covid_df = mx_covid_df.drop(['ObservationDate'],axis=1)
mx_covid_df2 = mx_covid_df.groupby(['Year', 'Month','Country/Region'])['Confirmed','Deaths','Recovered'].sum().reset_index()

mx_covid_alt = mx_covid_df2.melt(["Year","Month","Country/Region"],var_name="Status", value_name="Count")
mx_covid_alt["Date"] = mx_covid_alt['Year'] + mx_covid_alt['Month']
mx_covid_alt2 = mx_covid_alt.drop(['Year', 'Month'],axis=1)
mx_covid_alt2

D:\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   Country/Region     Status     Count    Date
0          Mexico  Confirmed         0  202001
1          Mexico  Confirmed         5  202002
2          Mexico  Confirmed      6921  202003
3          Mexico  Confirmed    220185  202004
4          Mexico  Confirmed   1560343  202005
5          Mexico  Confirmed   4692440  202006
6          Mexico  Confirmed  10107738  202007
7          Mexico  Confirmed  16108026  202008
8          Mexico  Confirmed  20309152  202009
9          Mexico  Confirmed  26077771  202010
10         Mexico  Confirmed  30342144  202011
11         Mexico  Confirmed  39586956  202012
12         Mexico  Confirmed  29247853  202101
13         Mexico     Deaths         0  202001
14         Mexico     Deaths         0  202002
15         Mexico     Deaths       108  202003
16         Mexico     Deaths     18449  202004
17         Mexico     Deaths    165485  202005
18         Mexico     Deaths    562682  202006
19         Mexico     Deaths   1164238  202007
20         Mexico     Deaths   1749213  202008
21         Mexico     Deaths   2150492  202009
22         Mexico     Deaths   2649132  202010
23         Mexico     Deaths   2962546  202011
24         Mexico     Deaths   3594393  202012
25         Mexico     Deaths   2546077  202101
26         Mexico  Recovered         0  202001
27         Mexico  Recovered         0  202002
28         Mexico  Recovered       157  202003
29         Mexico  Recovered     98988  202004
30         Mexico  Recovered   1048045  202005
31         Mexico  Recovered   3479273  202006
32         Mexico  Recovered   7789179  202007
33         Mexico  Recovered  13036674  202008
34         Mexico  Recovered  17039801  202009
35         Mexico  Recovered  22073682  202010
36         Mexico  Recovered  23701410  202011
37         Mexico  Recovered  29386760  202012
38         Mexico  Recovered  21983497  202101

In [27]:
ca_covid_df = clean_df.loc[(clean_df['Country/Region']=='Canada'),:].reset_index(drop=True)
ca_covid_df = ca_covid_df.drop(['ObservationDate'],axis=1)
ca_covid_df2 = ca_covid_df.groupby(['Year', 'Month','Country/Region'])['Confirmed','Deaths','Recovered'].sum().reset_index()
ca_covid_df2

ca_covid_alt = ca_covid_df2.melt(["Year","Month",'Country/Region'],var_name="Status", value_name="Count")
ca_covid_alt["Date"] = ca_covid_alt['Year'] + ca_covid_alt['Month']
ca_covid_alt2 = ca_covid_alt.drop(['Year', 'Month'],axis=1)
ca_covid_alt2

D:\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   Country/Region     Status     Count    Date
0          Canada  Confirmed        12  202001
1          Canada  Confirmed       234  202002
2          Canada  Confirmed     52012  202003
3          Canada  Confirmed    927235  202004
4          Canada  Confirmed   2369720  202005
5          Canada  Confirmed   3016433  202006
6          Canada  Confirmed   3460185  202007
7          Canada  Confirmed   3854051  202008
8          Canada  Confirmed   4290890  202009
9          Canada  Confirmed   6126216  202010
10         Canada  Confirmed   9141329  202011
11         Canada  Confirmed  15031370  202012
12         Canada  Confirmed  12559665  202101
13         Canada     Deaths         0  202001
14         Canada     Deaths         0  202002
15         Canada     Deaths       564  202003
16         Canada     Deaths     40556  202004
17         Canada     Deaths    174068  202005
18         Canada     Deaths    245849  202006
19         Canada     Deaths    274456  202007
20         Canada     Deaths    281379  202008
21         Canada     Deaths    277449  202009
22         Canada     Deaths    303428  202010
23         Canada     Deaths    332984  202011
24         Canada     Deaths    428712  202012
25         Canada     Deaths    322531  202101
26         Canada  Recovered         0  202001
27         Canada  Recovered        45  202002
28         Canada  Recovered      3886  202003
29         Canada  Recovered    296982  202004
30         Canada  Recovered   1147850  202005
31         Canada  Recovered   1822913  202006
32         Canada  Recovered   2656592  202007
33         Canada  Recovered   3403493  202008
34         Canada  Recovered   3744866  202009
35         Canada  Recovered   5154442  202010
36         Canada  Recovered   7405385  202011
37         Canada  Recovered  12349823  202012
38         Canada  Recovered  10772657  202101

In [29]:
us_covid_df = clean_df.loc[(clean_df['Country/Region']=='US'),:].reset_index(drop=True)
us_covid_df = us_covid_df.drop(['ObservationDate'],axis=1)
us_covid_df2 = us_covid_df.groupby(['Year', 'Month','Country/Region'])['Confirmed','Deaths','Recovered'].sum().reset_index()
us_covid_df2

us_covid_alt = us_covid_df2.melt(["Year","Month","Country/Region"],var_name="Status", value_name="Count")
us_covid_alt["Date"] = us_covid_alt['Year'] + us_covid_alt['Month']
us_covid_alt2 = us_covid_alt.drop(['Year', 'Month'],axis=1)
us_covid_alt2

D:\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   Country/Region     Status      Count    Date
0              US  Confirmed         37  202001
1              US  Confirmed        718  202002
2              US  Confirmed    1087602  202003
3              US  Confirmed   19524937  202004
4              US  Confirmed   45231787  202005
5              US  Confirmed   64957078  202006
6              US  Confirmed  111318157  202007
7              US  Confirmed  166610285  202008
8              US  Confirmed  199502747  202009
9              US  Confirmed  251885308  202010
10             US  Confirmed  339467106  202011
11             US  Confirmed  526633640  202012
12             US  Confirmed  424339949  202101
13             US     Deaths          0  202001
14             US     Deaths          1  202002
15             US     Deaths      18206  202003
16             US     Deaths     963109  202004
17             US     Deaths    2696696  202005
18             US     Deaths    3500940  202006
19             US     Deaths    4315908  202007
20             US     Deaths    5273075  202008
21             US     Deaths    5892978  202009
22             US     Deaths    6791466  202010
23             US     Deaths    7465922  202011
24             US     Deaths    9539979  202012
25             US     Deaths    7120732  202101
26             US  Recovered          0  202001
27             US  Recovered         88  202002
28             US  Recovered      19364  202003
29             US  Recovered    1747977  202004
30             US  Recovered    8720047  202005
31             US  Recovered   17434302  202006
32             US  Recovered   34028338  202007
33             US  Recovered   56877502  202008
34             US  Recovered   75486815  202009
35             US  Recovered   99506279  202010
36             US  Recovered  128470711  202011
37             US  Recovered   81079533  202012
38             US  Recovered          0  202101

In [31]:
all_covid_df = clean_df.drop(['ObservationDate'],axis=1)
all_covid_df2 = all_covid_df.groupby(['Year', 'Month','Country/Region'])['Confirmed','Deaths','Recovered'].sum().reset_index()

all_covid_alt = all_covid_df2.melt(["Year","Month","Country/Region"],var_name="Status", value_name="Count")
all_covid_alt["Date"] = all_covid_alt['Year'] + all_covid_alt['Month']
all_covid_alt2 = all_covid_alt.drop(['Year', 'Month'],axis=1)
all_covid_alt2

D:\anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

    Country/Region     Status     Count    Date
0           Canada  Confirmed        12  202001
1           Mexico  Confirmed         0  202001
2               US  Confirmed        37  202001
3           Canada  Confirmed       234  202002
4           Mexico  Confirmed         5  202002
..             ...        ...       ...     ...
112         Mexico  Recovered  29386760  202012
113             US  Recovered  81079533  202012
114         Canada  Recovered  10772657  202101
115         Mexico  Recovered  21983497  202101
116             US  Recovered         0  202101

[117 rows x 4 columns]